/* these are site-specific styles to augment the bootstrap default styles */


html {
  	height: 100%; /* setting to float footer to bottom */
}

/* add padding to accommodate header, footer */
body {
	padding: 60px 0;
	min-height: 100%; /* setting to float footer to bottom */
  	position: relative;
}

/* background image for home page*/
 
#bigDiv {
	background-image: url();
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

#wrapper {
  min-height: 100%; /* setting to float footer to bottom */
}

#map {
	width: 780px;
	height: 500px;
	border: 1px #222 solid;
}

/* extra padding and margin styles  */

.margin-top60 {
	margin-top: 60px;
}

.margin-top20 {
	margin-top: 20px;
}

.burger-logo {
	margin-top: -15px;
	margin-right: 15px;
	opacity: 0.2;
}

.burger-logo:hover {
	opacity: 1.0;
}

.negTop30 {
	margin-top: -30px;
}

/* page styles */

.intro {
	font-size: 1.3em;
	line-height: 1.7em;
}

.bigFont {
	font-size: 1.5em;
}

.dimWhite {
	background-color: #ffffff;
	opacity: 0.7;
	padding: 20px;
}

.coverPhoto {
	border: 6px solid #ffffff;
	box-sizing: border-box;
}

.white {
	color: #ffffff;
	text-shadow: 2px 2px #999;
}

/* footer styles */
footer {
	background-color: #222;
	color: #ffffff;
	height: 40px;
	width: 100%;
	padding: 10px;
	text-align: center;
	position: absolute;
  	bottom: 0px;
}