<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>All About Better Burgers</h1>
			<div class="row">
				<div class="col-md-8">
					<h3>'Murica! Yay!</h3>
					<p class="intro">Bacon ipsum dolor amet ground round cow andouille spare ribs beef t-bone frankfurter pork belly pork chop. Corned beef shankle kielbasa filet mignon pig strip steak venison brisket landjaeger. Ground round tongue doner meatloaf, pork loin pork belly bacon jowl sausage andouille pork chop fatback pork. </p>
					<p>Sausage pancetta chuck kielbasa filet mignon. T-bone tenderloin ham hock, ribeye venison drumstick pastrami bacon brisket leberkas. Doner pork t-bone frankfurter bresaola ball tip shankle. Capicola pork chop salami jerky.</p>
					<p>Alcatra t-bone pork loin jowl pork fatback. Salami turkey hamburger, bresaola ball tip strip steak biltong picanha. Shoulder fatback beef ribs pork loin doner salami landjaeger. Venison ribeye pork belly ball tip, jowl pig tongue pork ground round short ribs filet mignon meatball picanha turkey sausage.</p>
				</div><!-- end col-md-8 -->
			</div><!-- end row -->

		</div><!-- end col-md-12 -->
	</div><!-- end row -->
</div><!-- end container -->