<video autoplay loop poster="http://7-themes.com/data_images/out/38/6900718-hamburger-background.jpg" id="bigDiv">
</video>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to Better Burgers</h1>
			<div class="row margin-top60">
				<div class="col-md-4">
					<h3 class="negTop20 white">You're gonna <span class="bigFont">love</span> us!</h3>
					<div class="coverPhoto">
						<img src="http://whatscookingamerica.net/History/Sandwiches/HamburgerFries.jpg" width="348">
					</div>
				</div><!-- end col-md-3 -->
				<div class="col-md-7 col-md-offset-1 dimWhite margin-top20">
					<p class="intro">Short ribs tongue venison short loin pork ham hock beef ribs flank porchetta cupim drumstick. Tongue venison capicola pork belly sirloin cow hamburger meatloaf jerky filet mignon rump short ribs spare ribs ham hock. </p>
					<p>Salami bresaola corned beef flank kevin cow shoulder leberkas alcatra jerky ribeye ham beef drumstick.</p>
					<p>Pork loin alcatra pastrami salami spare ribs sirloin pork short ribs flank brisket ground round rump filet mignon landjaeger ham. Boudin filet mignon short loin meatloaf. Ham shoulder sausage filet mignon meatloaf beef, meatball pork belly ribeye fatback andouille pancetta picanha beef ribs bresaola. </p>
				</div><!-- end col-md-8 -->
			</div><!-- end row -->
			
		</div><!-- end col-md-12 -->
	</div><!-- end row -->
</div><!-- end container -->