<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Better Burgers &ndash; Better Selection</h1>
			<div class="row">
				<div class="col-md-3">
					<h3>You're bound to find something you love!</h3>
					<p class="intro">We have the best selection of mouth-watering burgers &ndash; here's something for everyone!</p>
					<p>All beef burgers at 100% sustainable. Our chickens are all free-range. You won't believe the 100% organic veggie burger.</p>
					<p>We  work with local farmers and ranchers blah, blah, blah, blah.</p>
				</div><!-- end col-md-3 -->
				<div class="col-md-8 col-md-offset-1 margin-top60" ng-controller="MenuItemsController as menu">
					<!-- template here -->
					<div class="col-md-6" ng-repeat="item in menu.menu_items">
						
						<h4>{{item.productTitle}}</h4>
						<img ng-src="{{item.photo}}" width="360">
						<p class="margin-top20">{{item.productDescr}}<span class="pull-right small">${{item.productPrice}}</span></p>
					</div><!-- end col-md-6 -->
				</div><!-- end col-md-8 -->
				
			</div><!-- end row -->	
		</div><!-- end col-md-12 -->
	</div><!-- end row -->
</div><!-- end container -->